<app-default-layout>
    <app-default-form-container>
        <div class="flex flex-col justity-center text-center">
            <div class=" justify-center font-bold	 mb-2 text- text-xl text-gray-800 sm:text-2xl ">
                Crie sua Conta
            </div>
            <span class="justify-center text-sm text-center text-gray-500 flex-items-center ">
                Ja tem uma conta ?
                <a routerLink="/login" class="text-sm text-primary-500 underline hover:text-primary-700">
                    entrar
                </a>
            </span>
        </div>

        <form [formGroup]="form"  (keydown.enter)="$event.preventDefault()" class="my-2">
            <mat-form-field appearance="fill" class="w-full" >
                <mat-label>Nome</mat-label>
                <input class="w-full" matInput  type="text" formControlName="name" >
                <mat-error *ngIf="form.controls.name.hasError('required')">
                    Voce esqueceu de colocar um número para contato
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>E-mail </mat-label>
                <input class="w-full" matInput  type="email" formControlName="email" >
                <mat-error *ngIf="form.controls.email.hasError('required')">
                    Voce esqueceu de colocar um e-mail para contato
                </mat-error>
                <mat-error *ngIf="form.controls.email.hasError('email')">
                    Coloque um email como seu_nome&#64;exemplo.com
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Senha</mat-label>
                <input class="w-full" matInput  type="password" formControlName="password" >
                <mat-error *ngIf="form.controls.password.hasError('required')">
                    Voce esqueceu de colocar sua password!
                </mat-error>
            </mat-form-field>  
            <ng-content>
    
            </ng-content>
        </form>
    
        <div class="flex flex-col sm:flex-row">
            <app-spinner-button class="!w-full !text-xl" [isLoading]="isLoading" [type]="'button'"
                (click)="onSubmit()">
                Criar Conta
            </app-spinner-button>
        </div>


    </app-default-form-container>
</app-default-layout>