<!-- Verifica se há uma solução para exibir -->
<div *ngIf="solution" class="mb-20">

    <!-- Seção para Selecionar Turma -->
    <div>
        <h1 class="font-bold text-lg text-primary-500 text-center">TURMAS</h1>
        <div class="flex items-baseline w-full h-full mt-5">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Selecione a Turma</mat-label>
                <mat-select [(ngModel)]="selectedClassroomId">
                    <mat-option *ngFor="let classroom of solution.input.classrooms" [value]="classroom.id">
                        {{ classroom.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="w-full !h-14" mat-raised-button color="primary" (click)="exportClassroomsToExcel()">Exportar Grade de
                Turmas</button>
        </div>
    </div>

    <!-- Tabela de Turmas -->
    <table mat-table [dataSource]="getSelectedClassroomGrade()" class="mat-elevation-z8">

        <!-- Coluna para a Aula -->
        <ng-container matColumnDef="classIndex">
            <th mat-header-cell *matHeaderCellDef> Aula </th>
            <td mat-cell *matCellDef="let timetable">
                Aula {{ timetable.classIndex }}
            </td>
        </ng-container>

        <!-- Colunas para os dias da semana -->
        <ng-container matColumnDef="monday">
            <th mat-header-cell *matHeaderCellDef> Segunda </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.mondayTeacher?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="tuesday">
            <th mat-header-cell *matHeaderCellDef> Terça </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.tuesdayTeacher?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="wednesday">
            <th mat-header-cell *matHeaderCellDef> Quarta </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.wednesdayTeacher?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="thursday">
            <th mat-header-cell *matHeaderCellDef> Quinta </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.thursdayTeacher?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="friday">
            <th mat-header-cell *matHeaderCellDef> Sexta </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.fridayTeacher?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="saturday">
            <th mat-header-cell *matHeaderCellDef> Sábado </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.saturdayTeacher?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="sunday">
            <th mat-header-cell *matHeaderCellDef> Domingo </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.sundayTeacher?.name || '-' }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>


    <div class="mt-10">
        <h1 class="font-bold text-lg text-primary-500 text-center">Professores</h1>

        <div class="flex items-baseline w-full h-full mt-5">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Selecione o professor</mat-label>
                <mat-select [(ngModel)]="selectedTeacherId">
                    <mat-option *ngFor="let teacher of solution.input.teachers" [value]="teacher.id">
                        {{ teacher.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="w-full !h-14" mat-raised-button color="primary" (click)="exportTeachersToExcel()">Exportar Grade de
                Professores</button>
        </div>
    </div>


    <table mat-table [dataSource]="getSelectedTeacherGrade()" class="mat-elevation-z8">

        <!-- Coluna para a Aula -->
        <ng-container matColumnDef="classIndex">
            <th mat-header-cell *matHeaderCellDef> Aula </th>
            <td mat-cell *matCellDef="let timetable">
                Aula {{ timetable.classIndex }}
            </td>
        </ng-container>

        <!-- Colunas para os dias da semana -->
        <ng-container matColumnDef="monday">
            <th mat-header-cell *matHeaderCellDef> Segunda </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.mondayClassroom?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="tuesday">
            <th mat-header-cell *matHeaderCellDef> Terça </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.tuesdayClassroom?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="wednesday">
            <th mat-header-cell *matHeaderCellDef> Quarta </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.wednesdayClassroom?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="thursday">
            <th mat-header-cell *matHeaderCellDef> Quinta </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.thursdayClassroom?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="friday">
            <th mat-header-cell *matHeaderCellDef> Sexta </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.fridayClassroom?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="saturday">
            <th mat-header-cell *matHeaderCellDef> Sábado </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.saturdayClassroom?.name || '-' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="sunday">
            <th mat-header-cell *matHeaderCellDef> Domingo </th>
            <td mat-cell *matCellDef="let timetable">
                {{ timetable.sundayClassroom?.name || '-' }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>