<div mat-dialog-title>
  <div class="flex justify-between items-center">
    <span class="text-xl text-primary-500 font-bold">{{ data?.teacher?.id ? 'Editar Professor' : 'Criar Professor' }}</span>
    <button mat-icon-button mat-dialog-close aria-label="Fechar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content class="!max-h-[80vh]">
  <form [formGroup]="teacherForm" class="flex flex-col gap-4">
    <mat-form-field appearance="fill">
      <mat-label>Nome do Professor</mat-label>
      <input matInput formControlName="name" placeholder="Nome do professor" />
    </mat-form-field>
    

    <div class="w-full gap-5 flex">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Prefere Aulas Duplas</mat-label>
        <mat-select formControlName="preferDoubleClass">
          <mat-option value="UNPREFERABLE">Indisponível</mat-option>
          <mat-option value="IRRELEVANT">Disponível</mat-option>
          <mat-option value="PREFERABLE">Obrigatório</mat-option>
          
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Prefere Primeira Aula</mat-label>
        <mat-select [disabled]="!canPreferFirstClass()" formControlName="preferFirstClass">
          <mat-option value="UNPREFERABLE">Indisponível</mat-option>
          <mat-option value="IRRELEVANT">Disponível</mat-option>
          <mat-option value="PREFERABLE">Preferivel</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Prefere Última Aula</mat-label>
        <mat-select [disabled]="!canPreferLastClass()" formControlName="preferLastClass">
          <mat-option value="UNPREFERABLE">Indisponível</mat-option>
          <mat-option value="IRRELEVANT">Disponível</mat-option>
          <mat-option value="PREFERABLE">Preferível</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Disponibilidades -->
    <div class="flex justify-between items-center mt-4">
      <span class="text-lg font-bold">Preferencia de Disponibilidades</span>
    </div>
    <div class="space-y-4">
      <div formGroupName="teacherAvailability" class="border p-4 rounded">
        <div class="grid grid-cols-4 gap-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Disponível na Segunda?</mat-label>
            <mat-select formControlName="monday">
              <mat-option value="UNPREFERABLE">Indisponível</mat-option>
              <mat-option value="IRRELEVANT">Disponível</mat-option>
              <mat-option value="PREFERABLE">Preferível</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Disponível na Terça?</mat-label>
            <mat-select formControlName="tuesday">
              <mat-option value="UNPREFERABLE">Indisponível</mat-option>
              <mat-option value="IRRELEVANT">Disponível</mat-option>
              <mat-option value="PREFERABLE">Preferível</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Disponível na Quarta?</mat-label>
            <mat-select formControlName="wednesday">
              <mat-option value="UNPREFERABLE">Indisponível</mat-option>
              <mat-option value="IRRELEVANT">Disponível</mat-option>
              <mat-option value="PREFERABLE">Preferível</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Disponível na Quinta?</mat-label>
            <mat-select formControlName="thursday">
              <mat-option value="UNPREFERABLE">Indisponível</mat-option>
              <mat-option value="IRRELEVANT">Disponível</mat-option>
              <mat-option value="PREFERABLE">Preferível</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Disponível na Sexta?</mat-label>
            <mat-select formControlName="friday">
              <mat-option value="UNPREFERABLE">Indisponível</mat-option>
              <mat-option value="IRRELEVANT">Disponível</mat-option>
              <mat-option value="PREFERABLE">Preferível</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Disponível no Sábado?</mat-label>
            <mat-select formControlName="saturday">
              <mat-option value="UNPREFERABLE">Indisponível</mat-option>
              <mat-option value="IRRELEVANT">Disponível</mat-option>
              <mat-option value="PREFERABLE">Preferível</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Disponível no Domingo?</mat-label>
            <mat-select formControlName="sunday">
              <mat-option value="UNPREFERABLE">Indisponível</mat-option>
              <mat-option value="IRRELEVANT">Disponível</mat-option>
              <mat-option value="PREFERABLE">Preferível</mat-option>
            </mat-select>
          </mat-form-field>            
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
  
<mat-dialog-actions>
  <div class="flex justify-end gap-4 w-full">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="teacherForm.invalid" (click)="onSubmit()">Salvar</button>
  </div>
</mat-dialog-actions>
  