<div class="table-container px-3 sm:px-32 pt-5 max-w-full overflow-auto">
  <div class="flex justify-between items-center mb-5">
    <h2 class="font-bold text-4xl text-primary-500">Escolas</h2>
    <button mat-button color="primary" (click)="updateOrCreateCollege()">
      Adicionar Escola <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <ng-container *ngIf="!isLoading">
    <div class="w-full min-h-[50vh] text-gray-500 flex flex-row justify-center h-full items-center"
      *ngIf="colleges.length === 0">
      <div class="w-full flex flex-row justify-center">
        <div>
          <h1 class="font-bold text-2xl  text-center">SEM ESCOLAS</h1>
          <button class="!text-xl !font-bold" mat-raised-button color="primary" (click)="updateOrCreateCollege()">
            Adicionar Escola <mat-icon class="scale-[1.5]">add_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngFor="let college of colleges">

      <mat-card class="p-5 !mt-3 shadow-md border border-gray-200">
        <mat-card-title>
          <div class="flex justify-between items-center">
            <h1 class="!text-2xl !font-bold text-primary-500">{{ college.name }}</h1>
      
            <!-- Menu de mais opções -->
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="updateOrCreateCollege({ college })">
                <mat-icon>edit</mat-icon> Editar
              </button>
              <button mat-menu-item color="warn" (click)="deleteCollege(college.id)">
                <mat-icon>delete</mat-icon> Deletar
              </button>
            </mat-menu>
          </div>
        </mat-card-title>
      
        <mat-card-actions class="flex justify-center mt-3">
          <button mat-raised-button color="primary" class="w-full h-14" (click)="openCollege(college.id)">
            <mat-icon>school</mat-icon> Abrir Escola
          </button>
        </mat-card-actions>
      </mat-card>

    </div>

  </ng-container>
</div>