<div class="table-container px-3 pt-5 max-w-full overflow-auto">
    <div *ngIf="!isLoading && college === null" class="w-full min-h-[50vh] text-gray-500 flex flex-row justify-center h-full items-center">
        <div class="w-full flex flex-row justify-center">
            <div>
                <h1 class="font-bold text-xl  text-center">ESCOLA NÃO ENCONTRADA!</h1>
            </div>
        </div>
    </div>

    <div *ngIf="isLoading" class="w-full min-h-[50vh] text-gray-500 flex flex-row justify-center h-full items-center">
        <div class="w-full flex flex-row justify-center">
            <div>
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
        </div>
    </div>



    <div *ngIf="college !== null && !isLoading">
        <mat-expansion-panel class="!mb-10" expanded="true">
            <mat-expansion-panel-header>
                <div class="flex justify-between items-center w-full">
                    <mat-panel-title class="text-2xl font-bold">
                        {{ college.name }}
                    </mat-panel-title>

                    <mat-panel-description class="!w-full">
                        <div class="w-full flex justify-end items-center">
                            <!-- <button (click)="uploadTable($event)" class="!w-full" mat-raised-button color="primary">
                                <mat-icon>table</mat-icon>
                                <strong>Adicionar tabela</strong>
                            </button> -->
                            <button (click)="$event.stopPropagation()" mat-button [matMenuTriggerFor]="collegeMenu">
                                Opções
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #collegeMenu="matMenu">
                                <button mat-menu-item (click)="updateOrCreateCollege({ college })">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item (click)="deleteCollege(college.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Deletar</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-panel-description>
                </div>
            </mat-expansion-panel-header>


            <mat-expansion-panel class="!mb-5" [expanded]="college?.disciplines?.length === 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Disciplinas</mat-panel-title>
                    <mat-panel-description>
                        <div class="flex w-full justify-end">
                            <button mat-button color="primary" (click)="addDiscipline($event)">
                                Adicionar
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="!overflow-x-auto sm:overflow-hidden">
                    <table mat-table [dataSource]="editableDisciplines" class="w-full">

                        <!-- Índice -->
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef>#</th>
                            <td mat-cell *matCellDef="let discipline; let index = index">
                                {{ index + 1 }}
                            </td>
                        </ng-container>
    
                        <!-- Nome -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Nome</th>
                            <td mat-cell class="!pt-5" *matCellDef="let discipline">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nome da disciplina</mat-label>
                                    <input matInput [(ngModel)]="discipline.name" (change)="markAsDisciplinesChanged()">
                                </mat-form-field>
                            </td>
                        </ng-container>
    
                        <!-- Código -->
                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef>Código</th>
                            <td mat-cell class="!pt-5" *matCellDef="let discipline">
                                <mat-form-field appearance="outline">
                                    <mat-label>Código da disciplina</mat-label>
                                    <input matInput [(ngModel)]="discipline.code" (change)="markAsDisciplinesChanged()">
                                </mat-form-field>
                            </td>
                        </ng-container>
    
                        <!-- Ações -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Ações</th>
                            <td mat-cell *matCellDef="let discipline; let index = index">
                                <button mat-icon-button color="warn" (click)="deleteDiscipline(discipline.id, college.id)"
                                    *ngIf="discipline.id">
                                    <mat-icon>delete</mat-icon>
                                </button>
    
                                <button mat-icon-button color="accent" (click)="removeDisciplineFromList(index)"
                                    *ngIf="!discipline.id">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </td>
                        </ng-container>
    
    
                        <tr mat-header-row *matHeaderRowDef="['index', 'name', 'code', 'actions']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['index', 'name', 'code', 'actions']"></tr>
    
                    </table>
                    <div *ngIf="hasDisciplinesChanges" class="flex justify-end mt-4">
                        <button mat-raised-button color="primary" (click)="saveDisciplinesChanges()">
                            <mat-icon>save</mat-icon> Salvar mudanças
                        </button>
                    </div>
                </div>

             
               
            </mat-expansion-panel>

            <mat-expansion-panel class="!mb-5" [expanded]="college?.teachers?.length === 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Professores
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="w-full flex justify-end">
                            <button mat-button color="primary"
                                (click)="updateOrCreateTeacher($event, { collegeId: college.id })">
                                Adicionar
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table #teacherTable mat-table [dataSource]="college.teachers" class="w-full">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td mat-cell *matCellDef="let teacher">{{ teacher.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Ações </th>
                        <td mat-cell *matCellDef="let teacher">
                            <button mat-button color="primary"
                                (click)="updateOrCreateTeacher($event, { teacher, collegeId: college.id })">
                                editar
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="deleteTeacher(teacher.id, college.id)">
                                deletar
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['name', 'actions']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'actions']"></tr>
                </table>
            </mat-expansion-panel>


            <mat-expansion-panel class="!mb-5" expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Turmas
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="w-full flex justify-end">
                            <button mat-button color="primary"
                                (click)="updateOrCreateClassroom($event, { collegeId: college.id })">
                                Adicionar
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table #classroomTable mat-table [dataSource]="college.classrooms" class="w-full">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td mat-cell *matCellDef="let classroom">{{ classroom.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                        <td mat-cell *matCellDef="let classroom">
                            <button mat-button
                                (click)="updateOrCreateClassroom($event, { classroom, collegeId: college.id })">
                                Editar
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button color="warn" (click)="deleteClassroom(classroom.id, college.id)">
                                Deletar
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button matTooltipPosition="right" mat-button color="primary"
                                (click)="duplicateClassroom(classroom)">
                                Copiar turma
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['name', 'actions']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'actions']"></tr>
                </table>
            </mat-expansion-panel>


            <mat-expansion-panel *ngIf="college.solutions.length > 0" class="!mb-5" expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1 class="text-primary-500 font-bold">Histórico de Simulações</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <table #solutionTable mat-table [dataSource]="college.solutions" class="w-full">

                    <!-- Índice -->
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let solution; let index = index">
                            {{ index + 1 }}
                        </td>
                    </ng-container>

                    <!-- Data de criação -->
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef>Data da Simulação</th>
                        <td mat-cell *matCellDef="let solution">
                            {{ solution.createdAt | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                    </ng-container>

                    <!-- Ações -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                        <td mat-cell *matCellDef="let solution">
                            <div class="flex items-center">
                                <button mat-button color="primary" (click)="openSolutionDetails(solution)">
                                    <mat-icon>visibility</mat-icon> Detalhes
                                </button>
                                <button mat-button color="warn" (click)="deleteSolution(solution.id, college.id)">
                                    <mat-icon>delete</mat-icon> Deletar
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['index', 'createdAt', 'actions']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['index', 'createdAt', 'actions']"></tr>

                </table>
            </mat-expansion-panel>

            <div class="w-full m-5">
                <button (click)="simulateCollege({college})" class="w-full" mat-raised-button color="primary"
                    [disabled]="college.teachers.length < 1 || college.classrooms.length < 1 || college.disciplines.length < 1">GERAR
                    GRADE HORÁRIOS
                </button>
            </div>
        </mat-expansion-panel>
    </div>

</div>