<div class="container flex flex-col items-start justify-between h-full mx-auto">
    <div>
        <h2 class="my-5 text-base font-medium tracking-tight text-start text-primary-500 uppercase">Nosso Sistema Completo</h2>
        <h3 class="max-w-2xl px-5 mt-2 text-3xl font-black leading-tight text-start text-gray-900 sm:mt-0 sm:px-0 sm:text-6xl">
        Vá mais longe com o Grade Horários
        </h3>
    </div>

    <div>
      <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
          <div class="md:col-span-3">
            <img
              src="assets/images/results-classroom.png"
              class="rounded"
              alt=""
            />
          </div>
    
          <div class="md:col-span-1">
            <div class="max-w-lg md:max-w-none">
              <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
                Grade por Turma
              </h2>
    
              <p class="mt-4 text-gray-700">
                Clique em simular depois exporte sua grade de horários escolares como PDF em segundos!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
          <div class="md:col-span-1">
            <div class="max-w-lg md:max-w-none">
              <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
                Grade por Professor
              </h2>
    
              <p class="mt-4 text-gray-700">
                Clique em simular depois exporte sua grade de horários escolares como PDF em segundos!
              </p>
            </div>
          </div>
          <div class="md:col-span-3">
            <img
              src="assets/images/results-teachers.png"
              class="rounded"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full mt-0 lg:flex-row flex-wrap sm:mt-10 lg:mt-20 gap-8">
      <div
        *ngFor="let service of gradeHorariosServices"
        class="w-full max-w-sm p-6 mx-auto bg-white rounded-lg shadow-md"
      >
        <div class="flex items-center justify-center w-16 h-16 mx-auto text-white bg-primary-500 rounded-full">
          <mat-icon>{{ service.icon }}</mat-icon>
        </div>
        <h4 class="mt-4 text-lg font-bold text-center text-gray-800">{{ service.text }}</h4>
        <p class="mt-2 text-base text-center text-gray-600">
          {{ service.description }}
        </p>
      </div>
    </div>
</div>


  
  