<div mat-dialog-title>
  <div class="flex justify-between items-center">
    <span class="text-xl text-primary-500 font-bold">{{ data?.discipline?.id ? 'Editar Disciplina' : 'Criar Disciplina' }}</span>
    <button mat-icon-button mat-dialog-close aria-label="Fechar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content class="!max-h-[80vh]">
  <form [formGroup]="disciplineForm" class="flex flex-col gap-4">
    <mat-form-field class="w-full">
      <mat-label>Nome da Disciplina</mat-label>
      <input matInput formControlName="name" placeholder="Digite o nome da disciplina">
      <mat-error *ngIf="disciplineForm.get('name')?.invalid">
        O nome da disciplina é obrigatório e deve ter pelo menos 3 caracteres.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Código da Disciplina</mat-label>
        <input matInput formControlName="code" placeholder="Digite o código da disciplina">
        <mat-error *ngIf="disciplineForm.get('code')?.invalid">
          O código da disciplina é obrigatório e deve ter pelo menos 2 caracteres.
        </mat-error>
    </mat-form-field> 
  </form>
  
  
</mat-dialog-content>

<mat-dialog-actions class="flex justify-end gap-4">
  <div class="flex justify-end gap-4 w-full">
    <button mat-button mat-dialog-close (click)="close()">Cancelar</button>
    <button mat-raised-button mat-dialog-close color="primary" [disabled]="disciplineForm.invalid" (click)="onSubmit()">
      {{ data.discipline?.id ? 'Atualizar' : 'Criar' }}
    </button>
  </div>
</mat-dialog-actions>
  