<div mat-dialog-title>
    <div class="flex justify-between items-center">
      <span class="text-xl text-primary-500 font-bold">Subir os dados por tabela Excel</span>
      <button mat-icon-button mat-dialog-close aria-label="Fechar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
</div>
  
<mat-dialog-content class="!max-h-[80vh]">
  <div class="w-full flex flex-row justify-center h-full items-center">
    <div class="w-full flex flex-row justify-center">
        <div>
            <h1 class="font-bold text-xl text-primary-500 text-center">EM BREVE</h1>
            <p>Case queira preencher os dados pela tabela excel, <br> baixe esse modelo, e nos envie pelo WhatsApp</p>
            <div class="flex">
                <button mat-raised-button color="primary" class="w-full mb-3" (click)="downloadTemplate()">
                    Baixar Modelo Excel
                  </button>
                <a
                    mat-raised-button
                    class="w-full"
                    href="https://wa.me/5519981859845"
                    target="_blank"
                    >
                    <button mat-button color="primary" class="w-full">WhatsApp</button>
                </a>
            </div>
        </div>
    </div>
  </div>
</mat-dialog-content>

<!-- <mat-dialog-actions >
  <div class="flex justify-end gap-4 w-full">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Fazer Upload
    </button>
  </div>
</mat-dialog-actions> -->
  