<section class="bg-gray-50 my-2 sm:my-20">
  <div class="mx-auto px-4 py-3 lg:flex lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h2 class="text-3xl font-extrabold sm:text-5xl">
        Bem Vindo ao
        <strong class="font-extrabold text-primary-700 sm:block"> Grade Horários </strong>
      </h2>

      <div class="mt-8 flex flex-col flex-wrap justify-center">
        <h2 class="text-4xl font-extrabold text-primary-700 sm:block">Como Funciona</h2>
        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          <!-- Passo 1 -->
          <div class="text-black hover:text-accent-500 hover:cursor-pointer" routerLink="/admin/escolas">
            <mat-icon>school</mat-icon>
            <h2 class="text-lg font-bold">1. Criar Escola</h2>
            <p class="text-sm">Cadastre as informações básicas e a estrutura da escola.</p>
          </div>
          <!-- Passo 2 -->
          <div class="text-black hover:text-accent-500 hover:cursor-pointer" routerLink="/admin/escolas">
            <mat-icon>book</mat-icon>
            <h2 class="text-lg font-bold">2. Criar Disciplinas</h2>
            <p class="text-sm">Defina as disciplinas com carga horária e outras especificações.</p>
          </div>
          <!-- Passo 3 -->
          <div class="text-black hover:text-accent-500 hover:cursor-pointer" routerLink="/admin/escolas">
            <mat-icon>person</mat-icon>
            <h2 class="text-lg font-bold">3. Criar Professores</h2>
            <p class="text-sm">Adicione os professores com horários e disciplinas atribuídas.</p>
          </div>
          <!-- Passo 4 -->
          <div class="text-black hover:text-accent-500 hover:cursor-pointer" routerLink="/admin/escolas">
            <mat-icon>group</mat-icon>
            <h2 class="text-lg font-bold">4. Criar Turmas</h2>
            <p class="text-sm">Organize as turmas com base nos anos escolares e turnos.</p>
          </div>
          <!-- Passo 5 -->
          <div class="text-black hover:text-accent-500 hover:cursor-pointer" routerLink="/admin/escolas">
            <mat-icon>play_arrow</mat-icon>
            <h2 class="text-lg font-bold">5. Simular</h2>
            <p class="text-sm">Execute a simulação para gerar a grade de horários ideal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
