<app-default-layout>
  <app-default-form-container>
    <div class="flex flex-col justify-center text-center">
      <div class="justify-center font-bold mb-2 text-xl text-gray-800 sm:text-2xl">
        Bem Vindo de Volta!
      </div>

      <span
        class="justify-center text-sm text-center text-gray-500 flex flex-col sm:flex-row items-center sm:justify-center gap-1">
        <span>Não tem uma conta?</span>
        <a routerLink="/registrar" class="text-sm text-primary-500 underline hover:text-primary-700">
          Registre-se
        </a>
      </span>

      <span
        class="mt-1 justify-center text-sm text-center text-gray-500 flex flex-col sm:flex-row items-center sm:justify-center gap-1">
        <span>Não lembra a senha?</span>
        <a routerLink="/resetar-password" class="text-sm text-primary-500 underline hover:text-primary-700">
          Recuperar Senha
        </a>
      </span>
    </div>

    <div class="mt-6">
      <form [formGroup]="form" autocomplete="on" (submit)="onSubmit()">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>E-mail</mat-label>
          <input class="w-full" matInput type="email" formControlName="email">
          @if (form.controls['email'].hasError('required')) {
            <mat-error>
              Você esqueceu de colocar um e-mail
            </mat-error>
          }
          @if (form.controls['email'].hasError('email')) {
            <mat-error>
              Coloque um email como seu_nome&#64;exemplo.com
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Senha</mat-label>
          <input class="w-full" matInput type="password" formControlName="password">
          @if (form.controls['password'].hasError('required')) {
            <mat-error>
              Você esqueceu de colocar sua senha!
            </mat-error>
          }
        </mat-form-field>

        <div class="flex flex-col items-center justify-center mt-2">
          <app-spinner-button class="!w-full !text-xl" [isLoading]="isLoading" [type]="'submit'">
            Entrar
          </app-spinner-button>
        </div>
      </form>

      <div class="relative flex py-5 items-center">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="flex-shrink-0 mx-4 text-gray-400 text-sm">Ou entre com</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>

      <div class="google-btn-container w-full overflow-hidden rounded-lg">
        <app-google-btn (tokenReceived)="handleGoogleLogin($event)"></app-google-btn>
      </div>
    </div>

  </app-default-form-container>
</app-default-layout>